.flex-box {
  display: flex;
  flex-flow: row wrap;
}

.success-message {
  flex-grow: 4;
}

.placeholder-message {
  flex-grow: 1;
  width: 150px;
}

.hint-message {
  font-size: 13px;
  border-left: 1px solid #ced4da;
  flex-grow: 1;
  width: 150px;
}

.hint-message p {
  margin: 0 !important;
  color: #7c8084;
}

.hint-link {
  color: #7c8084;
  text-decoration: underline;
}

@media screen and (max-width: 760px) {
  .placeholder-message {
    display: none;
  }

  .hint-message {
    width: 150px;
    flex-grow: 1;
    border-left: none;
    border-top: 1px solid #ced4da;
    margin-top: 50px;
    padding-top: 20px;
  }
}