.container {
  width: 80%;
  max-width: 1200px;
  margin: 3em auto;
  padding: 1em;
}

.container * {
  box-sizing: border-box;
}

p {
  color: #003366;
}

a {
  color: #003366;
  text-decoration: none;
}

button {
  font-size: 12px;
}

input.form-control {
  height: 25px;
  border: 2px solid #38598a;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 5px;
}

input.form-control :focus {
    outline: 2px solid #38598a;
    outline-offset: 1px;
}

div {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}

.display-linebreak {
  white-space: pre-line;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  margin: 0 10px;
}
