.container {
  width: 80%;
  max-width: 1200px;
  margin: 3em auto;
  padding: 1em;
}

.container * {
  box-sizing: border-box;
}

a {
  color: #003366;
  text-decoration: none;
}

button {
  font-size: 12px;
}

/* Bootstrap button overrides */
.btn.btn-primary {
  background-color: #003366; /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  cursor: pointer;
  margin: 50px 0;
}

.btn.btn-primary:hover {
  text-decoration: underline;
  opacity: 0.9;
  background-color: #003366;
  color: #fff;
}

input.form-control {
  height: 25px;
  border: 2px solid #38598a;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 3px;
  padding: 5px;
}

input.form-control :focus {
    outline: 2px solid #38598a;
    outline-offset: 1px;
}

div {
  text-align: center;
}

h1 {
  margin-bottom: 50px;
}
