.header {
  background-color: #036;
  border-bottom: 2px solid #fcba19;
  color: #fff;
  padding: 0 65px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .banner{
  display: flex;
  align-items: center;
}

.header h1 {
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  font-size: 24px;
  font-weight: normal;
  margin: 13px 18px;
  padding: 0.5em 0;
}

.header-logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

.header-intro {
  font-size: large;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 10px;
  }
}
