.banner{
  display: flex;
  align-items: center;
}

.header-title {
  font-family: 'Noto Sans','Calibri', 'Arial', 'Sans Serif';
  font-weight: normal;
  margin: 13px 18px;
  padding: 0.5em 0;
}

.header-logo {
  height: 80px;
}
